body {
	font-family: 'Open Sans', sans-serif;
}

#user-journal input {
	padding: 0;
}

.trans-log {
	padding: 0;
	resize: none;
  overflow-y: hidden; 
}

#answer-journal, #repeat {
	padding: 0;
	display: none;
}

.journal-header {
	padding: 0;
}
